# Example plugin build time configuration
#
# This file lists the configuration options that are used when building the
# antispam plugin. All lines starting with # are ignored. Configuration option
# lines must be commented out completely, if they are not to be included,
# i.e. just setting VARIABLE=n is not disabling that variable.
#
# This file is included in Makefile, so variables like CFLAGS and LIBS can also
# be modified from here. In most cases, these lines should use += in order not
# to override previous values of the variables.
#
# IMPORTANT NOTE: If you change the config, you need to run 'make clean'!

# Dovecot build directory
# (building the plugin requires configured dovecot sources)
DOVECOT=..

# backend
#  - dspam-exec: direct dspam training by calling dspam executable
BACKEND=dspam-exec


# enable debugging to syslog or stderr
#DEBUG=stderr
#DEBUG=syslog
