#!/usr/bin/make -f

EPOCH := 1:
DOVECOT_VERSION := $(shell sh $(CURDIR)/debian/get-dovecot-version.sh)
# if we were compiled against (for instance) dovecot 1.2.7, depend on versions
# "1.2.7" <= v < "1.2.7.", so a hypothetical upstream point release 1.2.7.1
# would not be considered suitable, and (more importantly) neither would 1.2.8.
# (Dovecot has a very strict version-compat check: see Debian bug #456021)
DOVECOT_DEPENDENCY := dovecot-imapd (>= $(EPOCH)$(DOVECOT_VERSION)), dovecot-imapd (<< $(EPOCH)$(DOVECOT_VERSION).)

build: build-stamp

build-stamp:
	dh_testdir
	cp debian/dovecot-antispam-config .config
	#can't build here, is done in install 
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean	
	$(RM) .config dovecot-antispam.7
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs -A /usr/lib/dovecot/modules/imap

	$(MAKE) CONFIG=defconfig BACKEND=dspam-exec INSTALLDIR=$(CURDIR)/debian/dovecot-antispam-dspam/usr/lib/dovecot/modules/imap install
	$(MAKE) clean
	$(MAKE) CONFIG=defconfig BACKEND=mailtrain INSTALLDIR=$(CURDIR)/debian/dovecot-antispam-mailtrain/usr/lib/dovecot/modules/imap install

	ln -sf antispam.7 dovecot-antispam.7
	dh_installman dovecot-antispam.7

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol -- -Vdovecot:Depends="$(DOVECOT_DEPENDENCY)"
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
