#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

INST-crm114=$(CURDIR)/debian/dovecot-antispam-crm114/usr/lib/dovecot/modules/imap
INST-dspam=$(CURDIR)/debian/dovecot-antispam-dspam/usr/lib/dovecot/modules/imap
INST-mailtrain=$(CURDIR)/debian/dovecot-antispam-mailtrain/usr/lib/dovecot/modules/imap

configure: configure-stamp
configure-stamp:
	dh_testdir
	cp defconfig .config

	touch configure-stamp


#Architecture 
build: build-arch

build-arch: build-arch-stamp
build-arch-stamp: configure-stamp  
	LIBRARY_NAME=crm114.so BACKEND=crm114-exec $(MAKE)
	LIBRARY_NAME=dspam.so BACKEND=dspam-exec $(MAKE)
	LIBRARY_NAME=mailtrain.so BACKEND=mailtrain $(MAKE)

clean: 
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp configure-stamp

	rm -f .config

	$(MAKE) clean

	dh_clean 

install: install-arch
install-arch:
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	mkdir -p $(INST-crm114)
	install -o root -g root -m 0660 crm114.so $(INST-crm114)/lib90_antispam_plugin.so
	mkdir -p $(INST-dspam)
	install -o root -g root -m 0660 dspam.so $(INST-dspam)/lib90_antispam_plugin.so
	mkdir -p $(INST-mailtrain)
	install -o root -g root -m 0660 mailtrain.so $(INST-mailtrain)/lib90_antispam_plugin.so

	dh_install -s
# Must not depend on anything. This is to be called by
# binary-arch
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	@dpkg-query -W dovecot-dev | sed 's/\t/=/' >> debian/dovecot-antispam-dspam.substvars
	@dpkg-query -W dovecot-dev | sed 's/\t/=/' >> debian/dovecot-antispam-crm114.substvars
	@dpkg-query -W dovecot-dev | sed 's/\t/=/' >> debian/dovecot-antispam-mailtrain.substvars
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build-arch install-arch
	$(MAKE) -f debian/rules DH_OPTIONS=-s binary-common

binary-indep:

binary: binary-arch
.PHONY: build clean binary-arch binary install install-arch configure
